*.py[co]
__pycache__
*-checkpoint.ipynb
*.vscode
*.log
*.db
*.DS_Store
config.yaml
OpenConfig.yaml
gotify_push.py
cos_config.yaml
Debug/*.png
*.joblib
*.json
*.meta
Debug/AutogluonModels/*
*.pkl
*.ubj
version.txt
